* {
  box-sizing: border-box;
}

html {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
}

#root {
  flex-grow: 1;
  display: flex;
}